:root {
    --main-color-500: #00897B;
    --color-white: #FFFFFF;
    --color-dark: #171D1C;
    --color-bg-white: #FAFAFA;
}

main {
    /* 减去底部工具栏和间隔 */
    min-height: calc(100% - 66px);
    margin-bottom: -66px;
    padding-bottom: 66px;
}

.footbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: var(--main-color-500);
}
.footbar  div{
    height: 100%;
    display: flex;
    flex-direction: space-between;
    justify-content: center;
}
.footbar button{
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0 16px;
    transition: all 0.2s ease;
}

#title-input {
    font-size: 1.5em;
    border: none;
    background: none;
    padding: 8px 16px;
    box-shadow: none;
    outline: none;
    display: block;
    color: #000;
    width: 100%;
    resize: none;
    
}
#title-input::placeholder{
    color: #ccc;
}
#code {
    height: auto;

}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}
.modal-content{
    position: relative;
    width: 80%;
    max-width: 425px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 0 auto;
    padding: 8px;
    color: #212121;
    cursor: pointer;
    transition: all 0.2s ease;
}

.question-list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* main flex 垂直 */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* question card 生成卡片背景样式，移动端下宽度占满屏幕，两种模式下均拥有最大高/宽度 */

.question-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 45%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 16px;
    padding: 8px;
    color: #212121;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* analysis-card样式 */
.analysis-card {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 66%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0 auto;
    padding: 8px;
    color: #212121;
    cursor: pointer;
    animation: slideIn 0.5s ease-in-out;
    animation-fill-mode: forwards;

}
#analysis-input {
    font-size: 1.5em;
    border: none;
    background: none;
    padding: 8px 16px;
    box-shadow: none;
    outline: none;
    display: block;
    color: #000;
    width: 100%;
    resize: none;
}
.question-card.selected {
    outline: 2px solid var(--main-color-500);
}

.question-card textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background: none;
    padding: 4px;
    padding-top: 12px;
    margin: 0;
    box-shadow: none;
    outline: none;
    display: block;
    font-size: 1rem;
}

.question-card .order {
   color: var(--main-color-500)
}
.question-card .CodeMirror{
    width: 100%;
    height: auto;
}
.textarea-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: text;
    z-index: 10;
}

.fab {
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color: var(--main-color-500);
    color: white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 24px;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 5px 0px;
    border: 1px solid darkgreen;
    z-index: 9999;
    cursor: pointer;
}
.fab:active {
    background-color: darkcyan;
    color: darkgreen;
}

@media screen and (max-width: 768px) {
    .CodeMirror {
        font-size: 0.866rem;
    }

    /* question card移动端下宽度占满屏幕，两种模式下均拥有最大高/宽度 */
    .question-card {
        width: 100%;

        max-width: 100%;
        min-height: 100px;
        height: 0;
    }
    .question-card .CodeMirror{
        font-size: 0.666rem;
    }
    #title-input {
        font-size: 1.25em;
        padding-bottom: 16px;
    }
    .footbar button{
        font-size: 1em;
    }
    .analysis-card {
        width: 90%;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}