<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Question Manager</title>
        <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="../css/index.css">
        <script type="text/javascript" src="../js/index.js"></script>
    </head>
    <body>
      <div class="toolbar">
        <div class="title">Question Manager</div>
        <div class="action-buttons">
          <div class="search-button"><i class="fa fa-search"></i></div>
          <div id="search-box">
            <input type="text" placeholder="Search" />
            <div id="close-button">X</div>
          </div>
        </div>
      </div>
      
    <main>
        <div class="container">
          <p class="search-hint">没有找到相关问题</p>
          <ul class="listview">
            <li class="listview-item">
              <div class="listview-item-content">
                <h2 class="listview-item-title">Item 1</h2>
                <p class="listview-item-desc">Description of Item 1</p>
              </div>
            </li>
            <li class="listview-item">
              <div class="listview-item-content">
                <h2 class="listview-item-title">Item 2</h2>
                <p class="listview-item-desc">Description of Item 2</p>
              </div>
            </li>
            <li class="listview-item">
              <div class="listview-item-content">
                <h2 class="listview-item-title">Item 3</h2>
                <p class="listview-item-desc">Description of Item 3</p>
              </div>
            </li>
          </ul>
          
        </div>
    </main>
    </body>
</html>